lib/tasks/deploy.rake
k8s-files
.git
public/assets
vendor/cache
tmp
log
.idea
config/*_local.yml
config/environments/local/*
*.swp
*.swo
.DS_Store
coverage
.secrets.env
codeship.aes
.bundlek8s-files
.dockerignore
.git
public/assets
vendor/cache
tmp
log
.idea
config/*_local.yml
config/environments/local/*
*.swp
*.swo
.DS_Store
coverage
.secrets.env
.bundle
codeship.aes
dockercfg
codeship-services.yml
.env
