<div class="modal fade" id="statusHistoryModal" tabindex="-1" role="dialog" aria-labelledby="statusHistoryModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="statusHistoryModalLabel">Status History</h4>
      </div>
      <div class="modal-body">
        <%= render 'status_history_table', task: task %>
      </div>
    </div>
  </div>
</div>