<div class="float-right">
  <%= button_to(
    user_completed_tickets_path(current_user),
    title: 'Increment tally',
    class: 'unstyled-button',
    data: { toggle: :tooltip, placement: :left, confirm: 'Add a ticket to the tally?' }
  ) do %>
    <%= content_tag(:span, nil, class: 'glyphicon glyphicon-triangle-right') %>
  <% end %>
</div>