<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Daily Reflection
      </div>
      <div class="panel-body">
        <%= render 'form', user: @user, daily_note: @daily_note, readonly: true  %>
      </div>
      <div class="panel-footer">
        <%= link_to(
          'Back',
          user_daily_notes_path(current_user),
          class: "btn btn-default"
        ) %>
        <%= link_to(
          'Edit',
          edit_daily_note_path(@daily_note),
          class: "btn btn-default"
        ) %>
      </div>
    </div>
  </div>
</div>