$navbar-inverse-bg: #205081;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-bg: #3572B0;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "custom";