@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 5px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,0,0)
}

/* footer */

footer {
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

select {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#notice {
  color: green;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.board_block {
  height: 200px;
  overflow: scroll;
}

.board {
  margin-top: 20px;
  height: 100%;
}

.center {
  text-align: center;
}

.no-text-decoration {
  text-decoration: none !important;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.green {
  color: #00CC00;
}

.red {
  color: red;
}

.float-right {
  float: right;
}

.max-width {
  width: 100%;
}

.unstyled-button {
  background: none;
  padding: none;
  border: none;
}

.popover-content, .popover-title{
    color: #000000 !important;/*black color*/
}

.scroll {
  overflow-y: scroll;
}

.goal_label {
  font-size: 14px;
}