<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "FocusBoard", root_url, id: "logo", class: "brand" %>
    <%= render 'layouts/nav' %>
  </div>
</header>